.boardContainer {
  height: 550px;
  width: 1400px;
  background: green;
  border: 5px solid gold;
  margin: 0 auto;
  position: relative;
}

.dealer {
  height: 175px;
  width: 650px;
  border: 3px solid brown;
  text-align: center;
  margin:  10px auto;
}

.player1 {
  height: 175px;
  width: 650px;
  border: 3px solid brown;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.player2 {
  height: 175px;
  width: 650px;
  border: 3px solid brown;
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.hand {
  height: 175px;
  width: 130px;
  display: inline-block;
  float: left;
}

img {
  height: 175px;
  width: 130px;
}
