.board-container {
  height: 700px;
  width: 1400px;
  background-color: #289946;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px;
  border-style: ridge;
  border-color: saddlebrown;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
}

button:focus {
  outline: 0;
}

label {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.dealer-hand {
  height: 175px;
  width: 650px;
  text-align: center;
  margin: 10px auto;
}

.dealer-buttons {
  display: inline-block;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 20px;
  left: 150px;
}

.player1-hand {
  height: 175px;
  width: 650px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.player1-container {
  width: 600px;
  display: inline-block;
  position: absolute;
  bottom: 200px;
  left: 20px;
}

.player2-hand {
  height: 175px;
  width: 650px;
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.player2-container {
  width: 600px;
  display: inline-block;
  position: absolute;
  bottom: 200px;
  right: 50px;
}

.hand {
  height: 175px;
  width: 130px;
  display: inline-block;
  float: left;
}

img {
  height: 175px;
  width: 130px;
}

.card-image,
.card-back {
  margin-left: -60px;
  box-shadow: 0px 0px 20px;
}

.card-image:first-child {
  margin-left: 0;
}

.hit {
  border: 5px solid #696969;
  border-radius: 50%;
  background-color: #D3D3D3;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 90px;
  width: 90px;
  transition-duration: 0.4s;
  opacity: 0.5;
}

.stand {
  border: 5px solid #696969;
  border-radius: 50%;
  background-color: #D3D3D3;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 90px;
  width: 90px;
  transition-duration: 0.4s;
  opacity: 0.5;
}

.hit-on {
  background-color: maroon;
  color: white;
  opacity: 1;
}

.hit-on:hover {
  background-color: tomato;
}

.new-game {
  border: 5px solid yellow;
  border-radius: 25px;
  background-color: green;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 60px;
  width: 100px;
  position: absolute;
  top: 40px;
  left: 20px;
  transition-duration: 0.4s;
}

.new-game:hover {
  background-color: olive;
}

.new-game-off {
  display: none;
}

.deal {
  border: 5px solid goldenrod;
  border-radius: 50%;
  background-color: #D3D3D3;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  height: 100px;
  width: 100px;
  transition-duration: 0.4s;
  opacity: 0.5;
}

.deal-on {
  background-color: firebrick;
  color: white;
  opacity: 1;
}

.deal-on:hover {
  background-color: tomato;
}

input {
  width: 75px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  border: 3px;
  border-style: ridge;
  border-color: goldenrod;
  background-color: green;
  color: white;
}

h2 {
  color: white;
  font-weight: bold;
  font-size: 36px;
  margin-top: 40px;
  text-align: center;
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.result {
  float: right;
  position: relative;
  top: -50px;
  right: 40px;
  border-style: ridge;
  border-radius: 10px;
  font-size: 36px;
  color: white;
  padding: 4px;
 }

 .result-win {
   border-color: green;
   background-color: #2ECC71;
 }

 .result-lose {
   border-color: red;
   background-color: #E74C3C;
 }

 .result-tie {
   border-color: orange;
   background-color: #F39C12;
 }

 .result:empty {
   display: none;
 }

.score {
  text-decoration: underline;
  border-style: ridge;
  border-color: goldenrod;
  border-radius: 10px;
  background-color: green;
  padding: 3px;
  display: inline-block;
}

.score-dealer {
  margin: 5px 10px;
  display: inline-block;
  position: absolute;
  top: 150px;
  font-size: 28px;
  border-style: ridge;
  border-color: red;
  border-radius: 10px;
  background-color: tomato;
  color: white;
  padding: 3px;
}

.score-dealer:empty {
  display: none;
}

.score:empty {
  display: none;
}

.place-bet {
  transition-duration: 0.4s;
  background-color: #D3D3D3;
  color: white;
  opacity: 0.5;
  font-size: 14px;
  border-radius: 5px;
}

.place-bet-on {
  background-color: firebrick;
  opacity: 1;
}

.place-bet-on:hover {
  background-color: tomato;
}

.restart {
  position: absolute;
  top: 40%;
  left: 44%;
  font-size: 18px;
  font-weight: bold;
  background-color: red;
  color: white;
}

.restart-off {
  display: none;
}
